body.ocean {
    background-color: #2299FF;
    color: #FFFFFF;
}

body.ocean select:hover, body.ocean button:hover {
  background-color: #AACCFF;
}
body.ocean button:active {
  background-color: #07C9E8;
}

body.ocean a {
  color: #0AFF0A;
}
body.ocean a:visited {
  color: #0AFF0A;
}
body.ocean a:hover {
  color: #EEFF0A;
}
body.ocean h3 a {
  color: #FFFFFF;
}
body.ocean h3 a:hover {
  color: #FF9922;
}

body.ocean table.l {
  background-color: #0409F8;
  color: #FFFFFF;
}

body.ocean table.r {
  background-color: #3030F0;
  color: #FFFFFF;
}

body.ocean table.calendar {
  color: #000000;
}
body.ocean table.calendar th {
  background-color: #8888FF;
}
body.ocean table.calendar td.today div.dayNum {
  color: #FF4407;
}
body.ocean table.calendar td.today {
  border: 2px solid #FF4407;
  background-color: #DDEEFF;
}
