body {
  background-color: #001322;
  color: #D0D2D5;
}
.button {
  color: #D0D2D5;
  background-color: #006699;
  border: 1px solid #001199;
}
.button:hover,.button.selected {
  color: #FFFFFF;
}
div#footer {
  color: #004864;
}
textarea {
  background-color: #202122;
  color: #D0D2D5;
}
a {
  color: #4477FF;
}
a:visited {
  color: #4477FF;
}
div#motto p,p#translateMotto {
  color: #77AADD;
}
