body {
  background-color: #DDF0FF;
  font-family: "Baskerville", "Times New Roman";
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 30px;
  padding-bottom: 70px;
  font-size: 18px;
}
h1,h2,h3,#pronunciation {
  margin-left: 30%;
}
h1[style*="direction: rtl"],h2[style*="direction: rtl"],h3[style*="direction: rtl"],#pronunciation[style*="direction: rtl"] {
  margin-left: inherit;
  margin-right: 30%;
}
iframe#hidden_iframe,select#classHidden {
  display: none;
}
p#welcome {
  font-size: 14px;
}
p#javascript {
  margin-left: 40px;
  font-weight: bold;
  color: #0088AA;
  font-size: 14px;
}
p#javascript[style*="direction: rtl"] {
  margin-left: inherit;
  margin-right: 40px;
}
p#javascript:lang(la) {
  font-variant: small-caps;
}

.button {
  color: #FFFFFF;
  background-color: #0088AA;
  border: 1px solid #99AAFF;
  font-family: "Baskerville", "Times New Roman";
  min-width: 70px;
  max-width: 200px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  cursor: pointer;
}
.button:hover {
  background-color: #0099CC;
}
.button.selected {
  background-color: #00AADD;
}
.button.selected:hover {
  background-color: #00BBEE;
}
div.centerButtons {
  display: flex;
  margin-left: 20%;
  margin-right: 20%;
  justify-content: center;
}
div#languageButtons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-right: 10px;
  padding-left: 10px;
}
div#languageButtons span {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
div#languageButtons span div.button {
  min-width: 40px;
  max-width: 120px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}
textarea {
  width: 80%;
  margin-left: 10%;
  background-color: #DDDEDF;
  padding: 5px;
  min-height: 500px;
  font-family: "Courier New", "Courier", monospace;
  resize: none;
  text-align: left;
}
img {
  width: 100%;
}
div#footer {
  text-align: center;
  font-size: 12px;
  color: #AAC0CC;
  font-style: italic;
}
div#footer:lang(hi),div#footer:lang(sa) {
  font-style: normal;
  font-family: devanagari;
}
div#footer:lang(ur) {
  font-style: normal;
  font-family: nastaliq;
}
div#footer:lang(fa) {
  font-style: normal;
}
div#footer:lang(la) {
  font-style: normal;
  font-variant: small-caps;
}
div#footer:lang(bn) {
  font-style: normal;
  font-family: bengali;
}
div#ahsDiv {
  text-align: center;
}
img#ahs {
  max-width: 200px;
}
ul.faq li {
  font-weight: bold;
  font-style: italic;
}
span.memeSpan {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
span#rampalmemes {
  display: none;
}
span.memeSpan img {
  width: 20%;
  height: 20%;
}
span.memeSpan#holidayMemes img {
  width: 15%;
  height: 15%;
}
p#disclaimer {
  font-size: 7px;
}
div#creditInfo,div#manualInput,.hidden {
  display: none;
}
.noBottomMargin {
  margin-bottom: 0;
}
.noTopMargin {
  margin-top: 0;
}
@media only screen and (max-width: 600px) {
  body {
    padding-left: 5%;
    padding-right: 5%;
    font-size: 16px;
  }
  .button {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 80%;
  }
  div#languageButtons span div.button {
    font-size: 12px;
  }
  div.centerButtons {
    margin-left: 10%;
    margin-right: 10%;
  }
  h1,h2,h3,#pronunciation {
    margin-left: 10%
  }
  h1[style*="direction: rtl"],h2[style*="direction: rtl"],h3[style*="direction: rtl"],#pronunciation[style*="direction: rtl"] {
    margin-left: inherit;
    margin-right: 10%;
  }
  div#motto {
    flex-direction: column;
  }
  div#motto p {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  div#languageButtons {
    padding-left: 5px;
    padding-right: 5px;
  }
  p#disclaimer {
    font-size: 5px;
  }
}
a {
  color: #0033FF;
  text-decoration: none;
}
a:visited {
  color: #0033FF;
}
a:hover {
  color: #00EE33;
}
div.button a {
  color: #FFFFFF;
}
a:active {
  color: #FF0033;
}
span#seth {
  color: #FF0000;
  text-decoration: underline;
  font-weight: bolder;
}
img#seth_img {
  width: 30%;
  float: right;
}
img#seth_img[style*="direction: rtl"] {
  float: left;
}
div#seth_div {
  display: inline-block;
}
#bottomIntro, #manualCategories div.button {
  direction: ltr;
  font-family: "";
}
input,select {
  direction: ltr;
}
select.rtl {
  direction: rtl;
}
@font-face {
  font-family: devanagari;
  src: local("ITF Devanagari"), url('http://www.harysdalvi.com/sub/fonts/ITFDevanagari-Regular-01.ttf') format("truetype");
  font-weight: normal;
  unicode-range: U+900-97F;
  font-display: swap;
}
@font-face {
  font-family: devanagari;
  src: local("ITF Devanagari"), url('http://www.harysdalvi.com/sub/fonts/ITFDevanagari-Bold-02.ttf') format("truetype");
  font-weight: bold;
  unicode-range: U+900-97F;
  font-display: swap;
}
@font-face {
  font-family: devanagari;
  src: local("Baskerville"), local("Times New Roman");
  unicode-range: U+0-599;
}
@font-face {
  font-family: balinese;
  src: url('http://www.harysdalvi.com/sub/fonts/AksaraBali.ttf') format("truetype");
  unicode-range: U+1B00-1B7F;
  font-display: swap;
}
@font-face {
  font-family: tibetan;
  src: url('http://www.harysdalvi.com/sub/fonts/TibMachUni-1.901b.ttf') format("truetype");
  unicode-range: U+F00-FFF;
  font-display: swap;
}
@font-face {
  font-family: nastaliq;
  src: url('http://www.harysdalvi.com/sub/fonts/jameelnoorinastaleeq.ttf') format("truetype");
  font-weight: normal;
  unicode-range: U+600-6FF;
  font-display: swap;
}
@font-face {
  font-family: nastaliq;
  src: url('http://www.harysdalvi.com/sub/fonts/jameelnoorikasheeda.ttf') format("truetype");
  font-weight: bold;
  unicode-range: U+600-6FF;
  font-display: swap;
}
@font-face {
  font-family: nastaliq;
  src: local("Baskerville"), local("Times New Roman");
  unicode-range: U+0-599;
}
@font-face {
  font-family: bengali;
  src: local("Bangla MN");
  font-weight: normal;
  unicode-range: U+980-9FF;
}
@font-face {
  font-family: bengali;
  src: local("Bangla MN");
  font-weight: bold;
  unicode-range: U+980-9FF;
}
@font-face {
  font-family: bengali;
  src: local("Baskerville"), local("Times New Roman");
  unicode-range: U+0-599;
}
.button:lang(hi) {
  font-family: devanagari;
}
.button:lang(sa) {
  font-family: "Times New Roman", "Devanagari MT", devanagari, tibetan, balinese;
}
.button:lang(ur) {
  font-family: nastaliq;
}
.button:lang(bn) {
  font-family: bengali;
}
div#languageButtons span div.button:lang(hi),div#languageButtons span div.button:lang(ur),
div#languageButtons span div.button:lang(sa),div#languageButtons span div.button:lang(bn) {
  font-family: inherit;
}
*[style*="font-family: nastaliq"] {
  word-spacing: 2px;
}
#pronunciation {
  margin-top: 0;
  font-size: 14px;
  font-family: "Times New Roman";
}
#pronunciation:lang(hi) {
  font-family: "Times New Roman", devanagari;
}
#pronunciation:lang(sa) {
  font-family: "Times New Roman", "Devanagari MT", devanagari;
}
#pronunciation:lang(bn) {
  font-family: "Times New Roman", bengali;
}
#pronunciation:lang(ur) {
  font-family: "Times New Roman", nastaliq;
}
:lang(sa) strong,:lang(sa) b {
  font-weight: normal;
  background-color: rgba(201, 91, 8, 0.5);
}
:lang(sa) :lang(en) strong,:lang(sa) :lang(en) b {
  font-weight: bold;
  background-color: inherit;
}

div#motto {
  display: flex;
  align-items: center;
  justify-content: center;
}
div#motto p,p#translateMotto {
  margin-left: 5%;
  margin-right: 5%;
  color: #0050A0;
  text-align: center;
}
div#motto p:lang(la), .smallCaps {
  font-variant: small-caps;
}
div#motto p:lang(sa) {
  font-family: "Devanagari MT", "ITF Devanagari", devanagari;
}
div#motto p:lang(ang) {
  font-family: "Apple Symbols", "Geneva";
}
div#motto p:lang(fa) {
  font-family: "Diwan Kufi", nastaliq, "Times New Roman";
}
div#motto p:lang(ar) {
  font-family: "Diwan Kufi", "Diwan Thuluth", "KufiStandardGK", "Sana",
    "Times New Roman";
}